<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- icon -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>

    <!-- js -->
    <!-- production version -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

    <!-- development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="./css/styles.css">
    <title>Boolzap</title>
</head>
<body>
    <div id="app">

        <!-- sidebar -->
        <aside class="side">

            <!-- header -->
            <div class="side-header">
                <div class="user">
                    <img :src="('./img/avatar') + user.avatar + '.jpg'" alt="user">
                    <div class="user-name">
                        <h4>
                            {{ user.name }}
                        </h4>
                    </div>
                </div>
                <div class="action">
                    <ul>
                        <li><i class="fas fa-circle-notch"></i></li>
                        <li><i class="fas fa-comment-alt"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </div>
            </div>

            <!-- notification -->
            <div class="notification">
                <div class="icon">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="not-text">
                    <h4>
                        Ricevi notifiche di nuovi messaggi
                    </h4>
                    <small>
                        <a href="#">Attiva notifiche desktop</a>
                    </small>
                </div>
            </div>

            <!-- search -->
            <div class="search">
                <div class="box">
                    <input 
                    @keyup="search" v-model="inputSearch" type="text" placeholder="Cerca o inizia una nuova chat">
                    <div class="change-icon"></div>
                </div>
            </div>

            <!-- contancts -->
            <div class="contacts">
                <div 
                @click='takeIndex(index)'
                v-show="item.visible === true"
                class="contact"
                :class=" index=== actualIndex ? 'active' : ''"
                v-for='(item, index) in contacts'
                >
                    <img :src="('./img/avatar') + contacts[index].avatar + '.jpg'" alt="user">
                    <div class="user-name">
                        <div class="center">
                            <h4>
                                {{ contacts[index].name }}
                            </h4>
                            <div class="last-message">
                                {{ textlastMessages[index] }}...
                            </div>
                        </div>
                        <div class="right">
                            {{ arrayLastaccess[index]}}
                        </div>
                    </div>
                </div>

            </div>
        </aside>
    
        <!-- main -->
        <main>

            <!-- main header -->
            <div class="main-header">

                <div class="user">
                    <img :src="`img/avatar${contacts[actualIndex].avatar}.jpg`" :alt="contacts[actualIndex].name">
                    <div class="user-name">
                        <h4>
                            {{ contacts[actualIndex].name }}
                        </h4>
                        <small>
                           Ultimo accesso {{ arrayLastaccess[actualIndex] }}
                        </small>
                    </div>
                </div>
                <div class="action">
                    <ul>
                        <li><i class="fas fa-search"></i></li>
                        <li><i class="fas fa-paperclip"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </div>
            </div>

            <!-- main content -->
            <div ref="container" class="main-content">

                <!-- messages -->
                <div
                v-for="(message, index) in contacts[actualIndex].messages" 
                :class="[message.status,'message']"
                >
                    <div class="quote-message"
                    v-show="message.quote != undefined && message.quote != ''"
                    >
                    <!-- <h2>{{ contacts[actualIndex].name }}</h2> -->
                    <!-- <h2>{{ contacts[actualIndex].messages[indexQuote].status === 'sent' ? 'tu' : message.name }}</h2> -->
                    <h2>{{ changeName() }}</h2>
                    <!-- <h2>`${contacts[actualIndex].messages[indexQuote].status === 'sent'} ? 'tu' : ${message.name}`</h2> -->
                    <!-- <h2>{{ contacts[actualIndex].messages[indexQuote].status === 'sent' ? 'tu' : 'ciao' }}</h2> -->

                    <p>{{ message.quote }}</p>
                </div>
                    <h2>{{ message.message }}</h2>
                    <div class="time">
                        <i class="fas fa-star" v-show="message.important == true"></i>
                        {{ message.date }}
                    </div>

                    <!-- message menu -->
                    <div class="menu-icon">
                        <i class="fas fa-chevron-down"
                        tabindex='0' 
                        @click="showMenu(index)"></i>
                        <div 
                        :class="`box-menu ${message.status}`"
                        v-show="index == actualMenu"
                        v-if="isHiddenMenu"
                        >
                            <ul>
                                <li @click="quoteMessage(index)">RISPONDI</li>
                                <li>INOLTRA MESSAGGIO</li>
                                <li @click="setImportant(index)">MESSAGGIO <span v-show="message.important == true">NON</span> 
                                IMPORTANTE</li>
                                <li @click="delateMessage(index)">ELIMINA MESSAGGIO</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- main footer -->
            <div class="main-footer">

                <!-- container emoji -->
                <div 
                class="emoji-container"
                v-if="isHidden"
                >
                    <ul class="type-name">
                        <li
                        :class=" typeIndex=== actualEmoji ? 'selected' : ''"
                        @click="selectType(typeIndex)"
                        v-for="(type, typeIndex) in emoji"                            
                        >
                        {{ type.type }}
                        </li>
                    </ul>
                    <ul class="list">
                        <li
                        @click="addEmoji(emIndex)"
                        v-for="(emoticon, emIndex) in emoji[actualEmoji].emojis"
                        >
                        {{ emoticon }}
                    </li>
                    </ul>
                </div>
                
                <!-- quote -->
                <div class="quote" v-if="isHiddenQuote">
                    <div class="message">
                        <h2>{{ contacts[actualIndex].name}}</h2>
                        <p>{{ contacts[actualIndex].messages[actualMenu].message}}</p>
                    </div>
                    <i class="fas fa-times" @click="isHiddenQuote = !isHiddenQuote"></i>
                </div>

                <!-- box input -->
                <div class="input-box">
                    <i 
                    class="far fa-smile"
                    @click="showEmoji"
                    ></i>
                    <input type="text" 
                    placeholder="Scrivi un messaggio"
                    @keyup.13="sendMessage"
                    v-model="insertMessage">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
    
        </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>