<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <link rel="stylesheet" href="./css/styles.css">
    <title>Boolzap</title>
</head>
<body>
    <div id="app">

        <!-- sidebar -->
        <aside class="side">

            <!-- header -->
            <div class="side-header">
                <div class="user">
                    <img :src="('./img/avatar') + user.avatar + '.jpg'" alt="user">
                    <div class="user-name">
                        <h4>
                            {{ user.name }}
                        </h4>
                    </div>
                </div>
                <div class="action">
                    <ul>
                        <li><i class="fas fa-circle-notch"></i></li>
                        <li><i class="fas fa-comment-alt"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </div>
            </div>

            <div class="notification">
                <div class="icon">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="not-text">
                    <h4>
                        Ricevi notifiche di nuovi messaggi
                    </h4>
                    <small>
                        <a href="#">Attiva notifiche desktop</a>
                    </small>
                </div>
            </div>

            <!-- search -->
            <div class="search">
                <div class="box">
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                    <li><i class="fas fa-search"></i></li>
                </div>
            </div>

            <!-- contancts -->
            <div class="contacts">
                <div 
                @click='selectChat(index)'
                class="contact"
                v-for='(item, index) in contacts'
                >
                    <img :src="('./img/avatar') + contacts[index].avatar + '.jpg'" alt="user">
                    <div class="user-name">
                        <h4>
                            {{ contacts[index].name }}
                        </h4>
                    </div>
                </div>

            </div>
        </aside>
    
        <!-- main -->
        <main>

            <!-- main header -->
            <div class="main-header">
                <div class="user">
                    <img :src="`img/avatar${actualChat.avatar}.jpg`" :alt="actualChat.name">
                    <div class="user-name">
                        <h4>
                            {{ actualChat.name }}
                        </h4>
                        <small>
                            Ultimo accesso oggi alle 10.35
                        </small>
                    </div>
                </div>
                <div class="action">
                    <ul>
                        <li><i class="fas fa-search"></i></li>
                        <li><i class="fas fa-paperclip"></i></li>
                        <li><i class="fas fa-ellipsis-v"></i></li>
                    </ul>
                </div>
            </div>

            <!-- main content -->
            <div class="main-content">
                <div
                v-for="message in actualMessage" 
                :class="[message.status === 'sent' ? 'sent' : 'received','message']"
                >
                    <h2>{{ message.message }}</h2>
                    <div class="time">{{ message.date }}</div>
                </div>


            </div>

            <!-- main footer -->
            <div class="main-footer">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </div>
    
        </main>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>